<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document 2</title>
</head>
<body>
  <div id="app">
    <form>
        <input type="text" v-model="name"></input>
        <button v-on:click="addList">{{ buttonText }}</button>
    </form>
    <ul>
        <li v-for="(user, index) in users"> {{ user.name }} 
            <button v-on:click="deleteList(index)">Delete</button> 
            <button v-on:click="editList(user.name, index)">Edit</button>
        </li>
    </ul>
    </div>
  
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script>
   var vm = new Vue({
      el: '#app',
      data: {
        name: "",
        id : null,
        users: [
            {
                'name' : 'Tiara Yasmine Soraya'
            },
            {
                'name' : 'Ruby Purwanti'
            },
            {
                'name' : 'Faqih Muhammad'
            }
        ],
        buttonText: "Add"
    },
        methods : {
            addList: function(e){
                if (this.buttonText == "Add") {
                    if(this.name !== "") {
                        this.users.push(
                        { name: this.name })
                    }
                } else if (this.buttonText == "Update") {
                    this.users[this.id].name = this.name
                    this.buttonText = "Add"
                }
                this.name = ""
                e.preventDefault()
            },
            editList: function(user, index) {
                this.name = user
                this.buttonText = "Update"
                this.id = index
            },
            deleteList: function(index) {
                this.users.splice(index, 1);
            }
        }
    })
  </script>
</body>
</html>