<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document 2</title>
</head>
<body>
  <div id="app">
    <input type="text" v-model="kataKunci" placeholder="Masukkan kata kunci">
        <ul>
            <li v-for="item in resultSearch"> 
              {{ item }} 
            </li>
        </ul>

    </div>
  
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script>
   var vm = new Vue({
      el: '#app',
      data: {
        kataKunci: "",
          books: [
              'Kalkulus Dasar',
              'Fisika Dasar',
              'Aljabar Linier Elementer',
              'Aljabar Abstrak',
              'Algoritma Pemrograman'
          ]
      },
      computed: {
        resultSearch: {
            get() {
                return this.books.filter(item => {
                    return item.toLowerCase().indexOf(this.kataKunci.toLowerCase()) > -1 })
            }
        }
    }
  })
  </script>
</body>
</html>